
<div class="components-page-container">
  <h2 class="title">
    Buttons
  </h2>
  <span class="dis-text">
    Buttons allow users to take actions, and make choices, with a single tap.
  </span>
  
  <mat-card class="dis-component">
      <mat-card-content class="dis-component-img">
          <img src="assets/images/components/buttons.jpg" >
      </mat-card-content>
  </mat-card>
</div>

<div class="types">
  <span>
    <ul>
      <li>Text button</li>
      <li>A. Text label</li> 
      <li>C. Icon (optional)</li> 
    </ul>
  </span>
  <span>
    <ul>
      <li>Outlined button</li>
      <li>A. Text label</li> 
      <li>B. Container</li> 
      <li>C. Icon (optional)</li> 
    </ul>
  </span>
  <span>
    <ul>
      <li>Contained button</li>
      <li>A. Text label</li> 
      <li>B. Container</li> 
      <li>C. Icon (optional)</li> 
    </ul>
  </span>
  <span>
    <ul>
      <li>Toggle button</li>
      <li>A. Container</li> 
      <li>C. Icon </li> 
    </ul>
  </span>
</div>


<!-- <mat-card>
  <mat-card-title>
    Basic Buttons
  </mat-card-title>
  <mat-card-content class="basic-buttons">
    <button mat-button><mat-icon>add</mat-icon>Apply Action</button>
    <button mat-button disabled><mat-icon>add</mat-icon>Disabled</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Primary Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-flat-button color="primary">Apply Action</button>
    <button mat-flat-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Accent Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-flat-button color="accent">Apply Action</button>
    <button mat-flat-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Stroked Primary Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-stroked-button color="primary">Apply Action</button>
    <button mat-stroked-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Stroked Accent Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-stroked-button color="accent">Apply Action</button>
    <button mat-stroked-button disabled>Disabled</button>
  </mat-card-content>
</mat-card> -->

