<div class="page-container">
  <div class="title"> Brand Guidelines </div>
  <div class="links">
    <ul>
      <li class="header"> 
        <span> Resources </span>
        <span> Description  </span>
        <span> Last Updated On </span> 
      </li>
      <li> 
        <span>  
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/branding-pdf/Xcelerate_Responsive_Grid_System.rar','Xcelerate_Responsive_Grid_System.rar')"> 
              Xcelerate Responsive Grid System
          </a>
        </span> 
        <span> </span>
        <span>08 December 2020</span> 
      </li>
      <li> 
        <span>  
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/branding-pdf/FINAL_19_beep_n_all_LOGO.pdf','FINAL_19_beep_n_all_LOGO.pdf')"> 
              FINAL Beep N All LOGOS
          </a>
        </span> 
        <span> </span>
        <span>08 December 2020</span> 
      </li>
      <li> 
        <span>  
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/branding-pdf/Beep_N_Ride_Branding_Guidelines.pdf','Beep_N_Ride_Branding_Guidelines.pdf')"> 
              Beep N Ride Branding Guidelines
          </a>
        </span> 
        <span> </span>
        <span>08 December 2020</span> 
      </li>
      <li> 
        <span>
          <a href="javascript:void(0)" style="cursor:pointer" 
            (click)="downloadPdf('./assets/branding-pdf/EMXCEL_Brand_Identity_19.09.2020.pdf','EMXCEL_Brand_Identity_19.09.2020.pdf')"> 
            EMXCEL Brand Identity
          </a>
        </span> 
        <span> </span>
        <span>27 November 2020</span> 
      </li>
      <li> 
        <span>  
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/branding-pdf/beep_n_BUY_Digital_Brand_Identity_5.10.2020.pdf','beep_n_BUY_Digital_Brand_Identity_5.10.2020.pdf')"> 
              Beep n BUY Digital Brand Identity
          </a>
        </span> 
        <span> </span>
        <span>27 November 2020</span> 
      </li>
    </ul>
  </div>
</div>

  
  