
<div class="components-page-container">
  <h2 class="title">
    Text Fields 
  </h2>
  <span class="dis-text">
    Text fields let users enter and edit text.
  </span>
  
  <mat-card class="dis-component">
      <mat-card-content class="dis-component-img">
          <img src="assets/images/components/textfield.jpg" >
      </mat-card-content>
  </mat-card>
</div>

<!-- <mat-card>
  <mat-card-title>
    Regular Search Box
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="search-field" appearance="outline" style="width:600px;">
      <input matInput placeholder="Search by Category, ID, UPC code" type="search">
      <span matPrefix><mat-icon>search</mat-icon>&nbsp;</span>
    </mat-form-field>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Autocomplete Search Box
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>
</mat-card> -->