

.links{
    ul{
        padding-left: 0px;
        margin-top: 25px;
        border: 1px solid #ccc;
        margin-bottom: 30px;

        li{
            list-style: none;
            border-bottom: 1px solid #ccc;
            padding: 0px 0px 5px 15px;

            img{
                height: 13px;
                margin-left: 15px;
            }

            span {
                width: 32.1%;
                display: inline-block;
                border-right: 1px solid #ccc;
                padding: 13px 0px 5px 10px;
                color: #767676;
                font-family: 'Roboto';
                font-size: 14px;
            }
        }

        .header{
            background-color: #efefef;
            font-weight: 600;
            font-weight: 500;
        }
    }
}