<div class="page-container">
  <div class="title"> Adobe XD Files </div>
  <div class="links">
    <ul>
      <li class="header"> 
        <span> Resources </span>
        <span> Description  </span>
        <span> Last Updated On </span> 
      </li>
      <li> 
        <span>
          <a href="javascript:void(0)" style="cursor:pointer" 
            (click)="downloadPdf('./assets/xdfiles/AppBarsTop-Bottom-XcelerateDesignSystem.xd','AppBarsTop-Bottom-XcelerateDesignSystem.xd')"> 
            App Bars Top - Bottom
          </a>
        </span> 
        <span> </span>
        <span>27 November 2020</span> 
      </li>
      <li> 
        <span>  
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/xdfiles/Buttons-XcelerateDesignSystem.xd','Buttons-XcelerateDesignSystem.xd')"> 
              Buttons
          </a>
        </span> 
        <span> </span>
        <span>27 November 2020</span> 
      </li>
      <li> 
        <span> 
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/xdfiles/Icons-Selectioncontrols-XcelerateDesignSystem.xd','Icons-Selectioncontrols-XcelerateDesignSystem.xd')"> 
              Icons - Selection controls 
          </a>
        </span>
        <span> </span>
        <span>27 November 2020</span>  
      </li>
      <li> 
        <span>  
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/xdfiles/PortalHeader-SideMenu-XcelerateDesignSystem.xd','PortalHeader-SideMenu-XcelerateDesignSystem.xd')"> 
              Portal Header - Side Menu
          </a>
        </span>
        <span> </span>
        <span>27 November 2020</span> 
      </li>
      <li> 
        <!-- <span> Text Fields - Dropdown Option - Search </span> -->
        <span>
          <a href="javascript:void(0)" style="cursor:pointer" 
              (click)="downloadPdf('./assets/xdfiles/TextFields-DropdownOption-Search-XcelerateDesignSystem.xd','TextFields-DropdownOption-Search-XcelerateDesignSystem.xd')"> 
              Text Fields - Dropdown Option - Search
          </a>
        </span>
        <span> </span>
        <span>27 November 2020</span>   
      </li>
    </ul>
  </div>
</div>


<!-- <mat-card>
  <mat-card-title>
    Adobe XD Files
  </mat-card-title>
  <mat-card-content class="links">
    
    
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Basic Buttons
  </mat-card-title>
  <mat-card-content class="basic-buttons">
    <button mat-button><mat-icon>add</mat-icon>Apply Action</button>
    <button mat-button disabled><mat-icon>add</mat-icon>Disabled</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Primary Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-flat-button color="primary">Apply Action</button>
    <button mat-flat-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Accent Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-flat-button color="accent">Apply Action</button>
    <button mat-flat-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Stroked Primary Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-stroked-button color="primary">Apply Action</button>
    <button mat-stroked-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Stroked Accent Buttons
  </mat-card-title>
  <mat-card-content>
    <button mat-stroked-button color="accent">Apply Action</button>
    <button mat-stroked-button disabled>Disabled</button>
  </mat-card-content>
</mat-card>
 -->
