<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu> -->

<div class="components-page-container">
    <h2 class="title">
        Side Menus
    </h2>
    <span class="dis-text">
        Side Menus display a list of choices on temporary surfaces.
    </span>
    
    <mat-card class="dis-component">
        <mat-card-content class="dis-component-img">
            <img src="assets/images/components/side-menu.jpg" >
        </mat-card-content>
    </mat-card>
  </div>