
<div class="components-page-container">
  <h2 class="title">
    Dropdown menu
  </h2>
  <span class="dis-text">
    A drop-down is a menu that offers a list of options. The title of the menu, or the currently-selected item in the list.
  </span>
  
  <mat-card class="dis-component">
      <mat-card-content class="dis-component-img">
          <img src="assets/images/components/dropdown.jpg" >
      </mat-card-content>
  </mat-card>
</div>


<!-- <mat-card>
  <mat-card-title>
    Dropdowns
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-select value="ceramic">
        <mat-option value="glass">Glass</mat-option>
        <mat-option value="ceramic">Ceramic</mat-option>
        <mat-option value="steel">Steel</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card> -->