<mat-card>
  <mat-card-title>
    Input
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Textarea
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Option
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-option value="option">Option</mat-option>
    </mat-form-field>
  </mat-card-content>
</mat-card>
