.header{
    background-color: #06063c;
  
    .logo{
      padding: 10px 31px;
      display: inline-flex;
      /*border-right: 1px solid #ccc;*/
      margin-bottom: -4px;
      height: 40px;
    }
  
    span{
      display: inline-block;
      position: absolute;
      margin-left: 0px;
      margin-top: 30px;
      font-family: "Roboto", "Helvetica Neue", sans-serif;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  
    ul{
      margin: 0px;
      padding: 0px;
      margin-top: 22px;
      display: inline-block;
      float: right;
  
      li{
        list-style: none;
        display: inline-block;
        color: #ffff;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-weight: 300;
        font-size: 14px;
        cursor: pointer;
        line-height: 19px;
        margin: 0px 10px;

        a{
          text-decoration: none;
          color: #fff;
        }
      }
  
      .active{
        border-bottom: 3px solid #ffffff;
        line-height: 30px;
      }
    }
}